body {
  background-color: #621402;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  margin-left: 47px;
}

.menu-item {
  margin-right: 25px;
}

.menu-link {
  color: white;
  text-decoration: none;
}
.user {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: #fff;
}

.avatar {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 11px;
}
